#Image warping routines:
export(propaneWarp)
export(propaneRebin)
export(propaneTran)
export(propaneWarpProPane)
export(propaneTweak)
export(propaneTweakImage)
export(propaneTweakCat)
export(propaneWCSmod)
export(propaneCropOverlap)
export(propaneSegimWarp)
export(propaneCovTest)

#Image stacking routines:
export(propaneStackWarpInVar)
export(propaneWarpDump)
export(propaneStackWarpMed)
export(propaneStackWarpFunc)
export(propaneStackFlatInVar)
export(propaneStackFlatFunc)
export(propanePatch)

#Utility:
export(propaneFrameFinder)
export(propaneGenWCS)
export(propaneBadPix)
export(propanePatchPix)
export(propaneDilate)
export(propaneImBlur)
export(propaneInterp2D)
export(propaneBin2D)

useDynLib(ProPane, .registration=TRUE)

import("Rcpp")
import("Rfits")
import("Rwcs")
import("checkmate")
import("magicaxis")
import("foreach")
import("data.table")
import("parallel")
import("doParallel")

importFrom("stats", "quantile", "median", "optim", "lm", "predict")
importFrom("utils", "packageVersion")
importFrom("celestial", "coordmatchsing")
importFrom("grDevices", "hsv")
importFrom("graphics", "legend", "mtext", "polygon", "par")
