#Image warping routines:
export(propaneWarp)
export(propaneRebin)
export(propaneTran)
export(propaneWarpProPane)
export(propaneTweak)
export(propaneWCSmod)

#Image stacking routines:
export(propaneStackWarpInVar)
export(propaneWarpDump)
export(propaneStackWarpMed)
export(propaneStackWarpFunc)
export(propaneStackFlatInVar)
export(propaneStackFlatFunc)
export(propanePatch)

#Utility
export(propaneFrameFinder)

useDynLib(ProPane, .registration=TRUE)

import("Rcpp")
import("Rfits")
import("Rwcs")
import("checkmate")
import("magicaxis")
import("foreach")
import("doParallel")
import("data.table")
import("doParallel")

importFrom("stats", "quantile", "median", "optim")
importFrom("utils", "packageVersion")
importFrom("celestial", "coordmatchsing")
importFrom("grDevices", "hsv")
importFrom("graphics", "legend", "mtext", "polygon")
