#Image warping routines:
export(propaneWarp)
export(propaneRebin)
export(propaneTran)
export(propaneWarpProPane)
export(propaneTweak)

#Image stacking routines:
export(propaneStackWarpInVar)
export(propaneStackWarpMed)
export(propaneStackFlatInVar)
export(propaneStackFlatFunc)

useDynLib(ProPane, .registration=TRUE)

import("Rcpp")
import("Rfits")
import("Rwcs")
import("checkmate")
import("magicaxis")
import("foreach")
import("doParallel")
import("data.table")
import("doParallel")

importFrom("stats", "quantile", "median", "optim")
importFrom("utils", "packageVersion")
